centrifuge {
    
	// Centrifuge authentication module -- configured to use an LDAP Search
	// -- restricted by group membership and class
	csi.security.jaas.spi.CentrifugeAuthenticationModule requisite
		authentication="ldap"
		ldapConnection="ldap://Controller-01.KerberosTest.com"
//		ldapConnection="ldaps://Controller-01.KerberosTest.com"
//		ldapTrustFile="conf/ldaptrust.jks"
//		ldapTrustPassword="changeme"
//		ldapTrustFileType="jks"
		ldapReader="CN=authenticator,CN=Users,DC=KerberosTest,DC=com"
		ldapPassword="changeme"
		ldapIdentifier="sAMAccountName"
		ldapBase="DC=KerberosTest,DC=com"
		ldapClass="user"
		ldapGroup="CN=Centrifuge Users,CN=Users,DC=KerberosTest,DC=com"
		ldapUseDN=false
		logFailure=true
		logSuccess=true
		debug=true;

	// Centrifuge authorization module
	csi.security.jaas.spi.CentrifugeAuthorizationModule requisite
		roleSource="ldap|jdbc"
		ldapConnection="ldap://Controller-01.KerberosTest.com"
//		ldapConnection="ldaps://Controller-01.KerberosTest.com"
//		ldapTrustFile="conf/ldaptrust.jks"
//		ldapTrustPassword="changeme"
//		ldapTrustFileType="jks"
		ldapReader="CN=authenticator,CN=Users,DC=KerberosTest,DC=com"
		ldapPassword="changeme"
		ldapIdentifier="sAMAccountName"
		ldapBase="DC=KerberosTest,DC=com"
		ldapClass="user"
		ldapRoleMapFile="conf/role.map"
		autoRegister=true
		logFailure=true
		logSuccess=true
		debug=true;
};
