centrifuge {

	// user account expiration enforcement
	csi.security.jaas.spi.SecurityPolicyLoginModule required;
    
	// Centrifuge authentication module -- configured to use an LDAP Search
	// -- restricted by group membership and class
	csi.security.jaas.spi.CentrifugeAuthenticationModule requisite
		authentication="ldap"
		ldapConnection="ldap://ldapserver"
//		ldapTrustFile="conf/ldaptrust.jks"
//		ldapTrustPassword="changeit"
//		ldapTrustFileType="jks"
		ldapReader="cn=reader,cn=LogonTesting,ou=Development,o=Centrifuge,c=US"
		ldapPassword="readerpassword"
		ldapIdentifier="cn"
		ldapBase="cn=LogonTesting,ou=Development,o=Centrifuge,c=US"
//		ldapGroupBase="cn=LogonTesting,ou=Development,o=Centrifuge,c=US"
//		ldapGroupClass="groupOfNames"
//		ldapUserFilter=""
//		ldapUserGroupFilter=""
//		ldapGroupFilter=""
		ldapClass="person|user"
		ldapGroup="cn=Testing,cn=groups,cn=LogonTesting,ou=Development,o=Centrifuge,c=US|cn=Development,cn=groups,cn=LogonTesting,ou=Development,o=Centrifuge,c=US"
		ldapCheckGroupSIDs=false
		ldapUseDN=false
		logFailure=false
		logSuccess=false;

	// Centrifuge authorization module
	csi.security.jaas.spi.CentrifugeAuthorizationModule requisite
		autoRegister=false
		logFailure=false
		logSuccess=false;
};
