centrifuge {

	// user account expiration enforcement
	csi.security.jaas.spi.SecurityPolicyLoginModule required;

	// Centrifuge authentication module -- configured not to authenticate
	// requires the username be stored in the header as "username"
	csi.security.jaas.spi.CentrifugeAuthenticationModule requisite
		authentication="none"
		userHeaderKey="user_name"
		logFailure=false
		logSuccess=false;

	// Centrifuge authorization module
	csi.security.jaas.spi.CentrifugeAuthorizationModule requisite
		autoRegister=false
		logFailure=false
		logSuccess=false;
};
