centrifuge {

	// auto-registration of users.  valid only
	// for ssl mutual authentication; client certificates 
	// must pass validity checks and be trusted.
	csi.security.jaas.spi.AutoRegistrationModule optional
		enabled="false";
	

	// user account expiration enforcement
    csi.security.jaas.spi.SecurityPolicyLoginModule required;
    
    // standard Centrifuge login module
    csi.security.jaas.spi.JDBCLoginModule requisite
        dataSourceName="java:comp/env/jdbc/MetaDB"
        userTable="UsersView"
        userField="name"
        credentialField="password"
        userExpdt="expirationdate"
        groupTable="GroupMembershipView"
        groupField="group_name"
        groupMember="role_name";


	// assignment of standard roles, only after successful authentication
	csi.security.jaas.spi.RoleAssignmentModule sufficient
  		roles="Authenticated";
};


