centrifuge {

	// user account expiration enforcement
	csi.security.jaas.spi.SecurityPolicyLoginModule required;

	// Centrifuge authentication module -- configured to use internal database
	csi.security.jaas.spi.CentrifugeAuthenticationModule requisite
		authentication="jdbc"
		autoAuthenticate=false
		logFailure=true
		logSuccess=false
		serviceAddress="http://localhost:4000/userauth";


	// Centrifuge authorization module
	csi.security.jaas.spi.CentrifugeAuthorizationModule requisite
		autoRegister=false
		logFailure=true
		logSuccess=true
		logExit=true;
};
