centrifuge {
    centrifuge.security.jaas.spi.JDBCLoginModule requisite
        dbDriver="org.apache.derby.jdbc.EmbeddedDriver"
        dbURL="jdbc:derby:MetaDB"
        userTable="UsersView"
        userField="name"
        credentialField="password"
        groupTable="GroupMembershipView"
        groupField="group_name"
        groupMember="role_name";

};

bridge {

    csi.security.auth.bridge.CRLLoginModule sufficient
        crl.url="https://registration.bridge-ic.net/bridge-ic.net.crl";
    
    csi.security.auth.bridge.BridgeLoginModule requisite;

    csi.security.auth.bridge.RoleModule optional;

    
};

